<h1>hello Dave, Please type your search in the box</h1>


    <%# <form action="/movie" method="GET">
    <section> Please type your movie title : </section>
    <input type="text" name="title" value="Wall street">
    <button>Search</button>
    </form> %>

    	

    <form action="/movie" method="GET">
    <section> Please type your movie title : </section>
    <input type="text" name="title" value="Wall street">
            
    <section>Is the search about - movie, series, episode? </section>
    <label for="Choice">Movie</label>
    <input type="radio" name="Choice"  value="movie" />
    <label for="Choice">Series</label>
    <input type="radio" name="Choice"  value="series" />
    <label for="Choice">Episode</label>
    <input type="radio" name="Choice" value="episode" />
    <button>Search</button>

    </form>
