<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
    <a href="/">
    <img src="https://cdn3.comtrya.com/wp-content/uploads/2014/09/AKB482014a.jpg" alt="AKB_Group_photo" class="akb_group_photo">
    </a>
    <h1 class="brand">AKB48</h1>
</header>

<body>

  <%= yield %>


<footer>

</footer>
</body>
</html>
