<h1>create new dish</h1>

<%# How to create JS gen form, create list of items
she wants to add, and then submit to SQL %>

<form action="/akb48" method="post" class="add_new_member_form">


        <label for="">Name :</label>
        <input type="text" name="name">

        <label for="">image url</label>
        <input type="text" name="image_url">

        How to limit the date format, another date form pop up
        to YYYY-MM-DD
        <label for="">date of brith :</label>
        <input type="text" name="dob">

        <label for="">Year of Joining AKB48 :</label>

        <input type="text" name="year_of_joining">

        <label for="">Year of Leaving AKB48 :</label>

        How to JS Either choosing type your year or Current
        <input  type="text" name="year_of_leaving"> <section> Or Current <input type="radio" name="year_of_leaving"  value="Current" /></section>



        <button class="add_member">Add Member</button>

</form>
