<h1>edit dish</h1>

<form action="/dishes/<%= @dish['id'] %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="">name</label>
  <input type="text" name="name" value="<%= @dish['name'] %>">
  <label for="">image url</label>
  <input type="text" name="image_url" value="<%= @dish['image_url'] %>">
  <button>update</button>
</form>