<h1>Welcome to the wonderland of the crazy one</h1>



<form action="/signup/create" method="POST" class="sign_up_form">
        <section> Welcome to forcelinker, please fill up: </section>
        <Label>Username that show on forcelinker </Label>
        
        <input type="text" name="user_name">
        <Label>Your Email address</Label>
        <input type="text" name="user_email">
        <Label>Your password</Label>
        <input type="password" name="user_password">
        <Label>Please confirm your password</Label>
        <input type="password" name="user_confirmed_password">

     <button>Submit</button>
     </form> 