
<h1>Please fill up new goal details</h1>


<form action="/user/create_new_post" method="post">
<label for="title">Title of your Target : </label>
<input type="text" name="title">

<label for="start">Date of start:</label>
<input type="date" name="date_of_start">

<label for="finish">Date of finish:</label>
<input type="date" name="date_of_finish">

<label for="milestone">Milestone that you would like to achieve: </label>
<input type="text" name="milestone">

<label for="target_content">Write down what you want to archieve: </label>
<input type="text" name="target_content">


<button>submit</button>

</form>