<h1>Moive Title</h1>
<h2> <%= @result["Title"] %> </h2>

<img src="<%=@result["Poster"]%>" alt="" srcset="">

<article>
<section>Data of Movie</section>


<p> <%= @result.keys %> </p>

<p> <%= @result.values %> </p>

</article>
